# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environment
.venv/
.matplotly_env/

# Jupyter
.ipynb_checkpoints/

# Exported figures
*.pdf
*.png
*.svg
*.jpg

# OS
.DS_Store

# Docs
docs/_build/

# Tools
.ruff_cache/
